.top-section img {
  float: left;
  width: 25%;
}
.user-info {
  margin-left: 28%;
}
.body {
  clear: left;
}
.show-btn {
  border: none;
}
.form-section label {
  display: block;
}
.bio-section {
  float: left;
  width: 25%;
  background: #808080;
  height: 500px;
}
.favorites-list {
  margin-left: 25%;
  height: 500px;
  background: #00f;
}
